/* This uses the Textfox theme by andriankarlen.
   Just replace chrome/userChrome.css with this file and it should work. */

@import url("content/sidebery.css");
@import url("content/about.css");
@import url("content/newtab.css");

/* configurations - DO NOT CHANGE ORDER */
@import url("defaults.css");
@import url("config.css");

/* Custom image here */

@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
   .click-target-container *, .top-sites-list * {
      color: #1a1b26 !important ;
      text-shadow: 2px 2px 2px #222 !important ;
   }

   body {
      --newtab-background-color-secondary: #1b2835 !important; 
   }

   body::before {
      content: "" ;
      z-index: -1 ;
      position: fixed;
      top: 0;
      left: 0;
      background: #1a1b26;
      background-color: #1a1b26;
      background-size: cover;
      width: 100vw ;
      height: 100vh ;
   }
}
